extends ./layout.jade

block append vars
    - var author = ''

block append content
    div
        - if (allTags)
            - var tagNames = Object.getOwnPropertyNames(allTags)
            - tagNames.sort()
                each tagName in tagNames
                    - if (tagName)
                        h4: a(href='#{sluggify(tagName)}')= tagName
                        div.list-group
                            - var posts = allTags[tagName];
                            - posts.sort(function (a, b) {if (a.title < b.title) {return -1} else if (a.title === b.title) { return 0} else return 1})
                            - for (var i = 0; i < posts.length; i++)
                                - if (posts[i].slug.toLowerCase().endsWith('.html') ||posts[i].slug.toLowerCase().endsWith('.htm'))
                                    a.list-group-item(href='#{posts[i].slug}')= posts[i].title